In [1]:
exp =[2200,2350,2600,2130,2190]
extra_spent_in_feb = exp[1]-exp[0]
print(extra_spent_in_feb)

150

In [2]:
total_exp_in_first_quater = exp[0]+exp[1]+exp[2]
print(total_exp_in_first_quater)

7150

In [3]:
print(2000 in exp)

False

In [4]:
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [5]:
exp[3] = exp[3]-200
print(exp)

[2200, 2350, 2600, 1930, 2190, 1980]

In [6]:
heros=['spider man','thor','hulk','iron man','captain america']
len(heros)

5

In [7]:
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [8]:
heros.remove("black panther")
heros.insert(3,"black panther")
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [9]:
heros[1:3]=["doctor strange"]
print(heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [10]:
dir(heros)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [12]:
india = ["mumbai","banglore","chennai","delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka","khulna","rangpur"]

city_name = input("enter your city name :")
if city_name in india :
    print("your country is india")
elif city_name in pakistan:
    print("your country is pakistan")
elif city_name in bangladesh:
    print("your country is bangladesh")
else:
    print("your country is not in list")

enter your city name :
  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }delhi
your country is india

In [13]:
india = ["mumbai","banglore","chennai","delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka","khulna","rangpur"]

city_name_1 = input("enter your city name :")
city_name_2 = input("enter your city name :")
if city_name_1 and city_name_2 in india :
    print("your country is india")
elif city_name_1 and city_name_2 in pakistan:
    print("your country is pakistan")
elif city_name_1 and city_name_2 in bangladesh:
    print("your country is bangladesh")
else:
    print("your country is not in list")

enter your city name :delhi
enter your city name :banglore
your country is india

In [14]:
sugar_level = input("enter your fasting sugar level :")
sugar_level = float(sugar_level)
if sugar_level<80:
    print("your sugar level is low")
elif sugar_level>100:
    print("sugar level is high")
else :
    print("sugar level is normal")

enter your fasting sugar level :80
sugar level is normal

In [15]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

count = 0

for i in result:
    if i == "heads":
        count= count + 1
    
print("total heads count is :",count)

total heads count is : 4

In [16]:
for i in range(11):
    if i%2==0:
        continue
    print(i*i)

1
9
25
49
81

In [17]:
month_list = ["january","february","march","april","may"]
expense_list = [2340, 2500, 2100, 3100, 2980]
e = input("enter your expense amount:")
e = int(e)

month = -1
for i in range(len(expense_list)):
    if e == expense_list[i]:
        month = i
        break
if month != -1:
    print(f"your spent {e} in {month_list[month]}")
else :
    print(f"you didn't spent {e} in any month")

enter your expense amount:2500
your spent 2500 in february

In [18]:
for i in range(5):
    print(f" you completed {i+1} miles ")
    tired = input("are you tired: ")
    if tired == "yes":
        break
if i == 4:
    print(" congrats! you completed race")
else:
    print(f"you completed {i+1} miles, but you don't completed race")

 you completed 1 miles
are you tired: no
 you completed 2 miles
are you tired: no
 you completed 3 miles
are you tired: no
 you completed 4 miles
are you tired: no
 you completed 5 miles
are you tired: no
 congrats! you completed race

In [19]:
def total_function(exp):
    total = 0
    for i in exp:
        total = i + total
    return print("total is ",total)
    
bharat_total_expenses =[10,20,30,40,50]
total_function(bharat_total_expenses)

total is  150

In [20]:
def area(r,h,shape):
    if r>0 and h>0 and shape == "triangle":
        area_triangle = (1/3)*(2*r)*h
        return print("Area of triangle is ",area_triangle)
    else:
        area_rectangle = r * h
        return print("area of rectangle is ",area_rectangle)
    
r = int(input("write dimension_1:"))
h = int(input("write dimension_2:"))
shape =input("write shape:")
area(r,h,shape)

write dimension_1:5
write dimension_2:5
write shape:triangle
Area of triangle is  16.666666666666664

In [21]:
for i in range(6):
        s = ''
        for j in range(i+1):
            s = s + '*'
        print(s)

*
**
***
****
*****
******

In [22]:
def diagram(n):
    for i in range(n):
        s = ''
        for j in range(i+1):
            s = s +'*'
        print(s)
    
n=int(input("write your fav number " ))
diagram(n)

write your fav number 5
*
**
***
****
*****

In [23]:
for i in range(6):
    s = ' '
    for j in range (i+1):
        s = s + '*'
    print(s)

 *
 **
 ***
 ****
 *****
 ******

In [24]:
population = {"china" :143, "india": 136, "usa":32 ,"pakistan":21 }

def add():
    country = input("enter country name to add:")
    country = country.lower()
    if country in population:
        print("country already exist in our dataset, terminating")
        return
        p = input(f"enter population for {country}")
        p = float(p)
        population[country] = p
        print_all()
         
def remove():
    country = input("enter country name to remove")
    country = country.lower()
    if country not in population:
        print("country doesn't exist in dataset,terminating")
    return
    del population[country]
    print_all()
    

def query():
    country = input("enter country name to query")
    country = country.lower()
    if country not in population:
        print("country doesn't exist in dataset,terminating")
        return
        print(f"population of {country} is {population[country]} crore")
    
def print_all():
    for country,p in population.items:
        print(f" {country} ==> {p}")
              
def main():
    op = input("enter operation (print,add,remove,query) :")
    if op.lower == "print":
        print_all()
    elif op.lower =="add":
        add()
    elif op.lower == "remove":
        remove()
    elif op.lower == "query":
        query()
        
if __name__ == "__main__":
    main()

enter operation (print,add,remove,query) :add

In [25]:
population = {
    'china': 143,
    'india': 136,
    'usa': 32,
    'pakistan': 21
}

def add():
    country=input("Enter country name to add:")
    country=country.lower()
    if country in population:
        print("Country already exist in our dataset. Terminating")
        return
    p=input(f"Enter population for {country}")
    p=float(p)
    population[country]=p # Adds new key value pair to dictionary
    print_all()

def remove():
    country = input("Enter country name to remove:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    del population[country]
    print_all()

def query():
    country = input("Enter country name to query:")
    country = country.lower()
    if country not in population:
        print("Country doesn't exist in our dataset. Terminating")
        return
    print(f"Population of {country} is: {population[country]} crore")

def print_all():
    for country, p in population.items():
        print(f"{country}==>{p}")

def main():
    op=input("Enter operation (add, remove, query or print):")
    if op.lower() == 'add':
        add()
    elif op.lower() == 'remove':
        remove()
    elif op.lower() == 'query':
        query()
    elif op.lower() == 'print':
        print_all()

if __name__ == '__main__':
    main()

Enter operation (add, remove, query or print):add
Enter country name to add:australia
Enter population for australia32
china==>143
india==>136
usa==>32
pakistan==>21
australia==>32.0

In [26]:
pip install jupyterthemes

Requirement already satisfied: jupyterthemes in c:\users\hp\anaconda3\lib\site-packages (0.20.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: lesscpy>=0.11.2 in c:\users\hp\anaconda3\lib\site-packages (from jupyterthemes) (0.15.0)
Requirement already satisfied: notebook>=5.6.0 in c:\users\hp\anaconda3\lib\site-packages (from jupyterthemes) (6.4.8)
Requirement already satisfied: ipython>=5.4.1 in c:\users\hp\anaconda3\lib\site-packages (from jupyterthemes) (8.2.0)
Requirement already satisfied: jupyter-core in c:\users\hp\anaconda3\lib\site-packages (from jupyterthemes) (4.9.2)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\hp\anaconda3\lib\site-packages (from jupyterthemes) (3.5.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.11.2)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (61.2.0)
Requirement already satisfied: stack-data in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hp\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: ply in c:\users\hp\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (1.16.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (4.25.0)
Requirement already satisfied: numpy>=1.17 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.21.5)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.11.0)
Requirement already satisfied: argon2-cffi in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (21.3.0)
Requirement already satisfied: nbformat in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.3.0)
Requirement already satisfied: nest-asyncio>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.5)
Requirement already satisfied: ipython-genutils in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1.12)
Requirement already satisfied: tornado>=6.1 in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1)
Requirement already satisfied: jinja2 in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (2.11.3)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.8.0)
Requirement already satisfied: pyzmq>=17 in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (22.3.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.13.1)
Requirement already satisfied: nbconvert in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.4.4)
Requirement already satisfied: prometheus-client in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.13.1)
Requirement already satisfied: ipykernel in c:\users\hp\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.9.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\hp\anaconda3\lib\site-packages (from jupyter-core->jupyterthemes) (302)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.2.5)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\hp\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=5.6.0->jupyterthemes) (2.0.2)
Requirement already satisfied: argon2-cffi-bindings in c:\users\hp\anaconda3\lib\site-packages (from argon2-cffi->notebook>=5.6.0->jupyterthemes) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (1.15.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (2.21)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (1.5.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hp\anaconda3\lib\site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (2.0.1)
Requirement already satisfied: bleach in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: testpath in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.4)

Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.13)
Requirement already satisfied: jupyterlab-pygments in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (4.11.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\hp\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (4.4.0)
Requirement already satisfied: fastjsonschema in c:\users\hp\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (2.15.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\hp\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\hp\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (0.18.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->notebook>=5.6.0->jupyterthemes) (2.3.1)
Requirement already satisfied: webencodings in c:\users\hp\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: asttokens in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (2.0.5)
Requirement already satisfied: executing in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (0.2.2)

In [27]:
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [28]:
!jt -t onedork

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("C:/Users/hp/Desktop/DATA ANALYST/bellabeat_data/dailyActivity_merged.csv")

In [31]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [39]:
p= (1,2,3)
print(p)

(1, 2, 3)

In [37]:
p= (1,2,3)
print(p)

(1, 2, 3)